/*Default font parameters for website */
:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size:2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 50px;
    margin-right:50px;
    text-align: center;
}

h3 {
    font-size: 1.75rem;
    margin-top: 50px;
    text-align: center;
}
h4{
    font-size:1.25rem;
    margin-right:50px;
    margin-bottom: 25px;
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 40px;
}

/* CSS section for header pictures*/
#imgLogo {
    max-width: 150px;
}

#imgCart {
    max-width: 50px;
    float: right;
}
/* CSS for menubar */
#menuBar {
    background-color: #C8102E;

    font-family: 'Calibri';
    font-size: 2rem;
    width: 100%;
    display: inline-block;
    padding: 1rem 0.5rem;
    margin-top: 15px;
    border-radius: 25px;
    ul{
        margin:0;
        padding:0;
        list-style: none;
        white-space: nowrap;

        /*Flexbox for better mobile viewing, thanks to René*/
        display: flex;
        column-gap: 5rem;
        flex-wrap: wrap;
        flex-direction:initial;

        li {
            float: left;
            a{
                color: white;
            }
            a.current {
            background-color:white;
            color: black; 
            }
            &:hover {
            color: white;
            background-color: black;
            }
        }
    }
}
